body{
background-image: url(vCFp4sWn1wg.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: -420px -10px;

}

h1{
text-align: center;
font-family: 'Courier New', Courier, monospace;
font-size: 100px;
font-style: normal;
color: #000000; /* Цвет текста */
-webkit-text-stroke: 5px #d6eff0; /* Толщина и цвет обводки */

}
.button-link{
    text-decoration: none;
    
    }


div{
position: relative;
    top: 200px;
}